<!-- wp:template-part {"slug":"header","theme":"saaslauncher","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"saaslauncher-cart-button","style":{"spacing":{"margin":{"top":"10px","bottom":"0","left":"0","right":"0"}}},"textColor":"light-color","gradient":"center-top-gradient","fontSize":"small","layout":{"inherit":true,"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group saaslauncher-cart-button has-light-color-color has-center-top-gradient-gradient-background has-text-color has-background has-small-font-size" style="margin-top: 10px; margin-right: 0; margin-bottom: 0; margin-left: 0">
  <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"1180px"}} -->
  <div class="wp-block-group" style="padding-right: var(--wp--preset--spacing--40); padding-bottom: var(--wp--preset--spacing--70); padding-left: var(--wp--preset--spacing--40)">
    <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70","top":"var:preset|spacing|60"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group" style="padding-top: var(--wp--preset--spacing--60); padding-bottom: var(--wp--preset--spacing--70)">
      <!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|light-color"}}}},"textColor":"light-color"} /-->

      <!-- wp:woocommerce/breadcrumbs {"textColor":"foreground-alt","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:woocommerce/store-notices /-->

    <!-- wp:group {"className":"saaslauncher-cart-button","style":{"spacing":{"margin":{"top":"10px","bottom":"0","left":"0","right":"0"}}},"textColor":"light-color","fontSize":"small","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
    <div class="wp-block-group saaslauncher-cart-button has-light-color-color has-text-color has-small-font-size" style="margin-top: 10px; margin-right: 0; margin-bottom: 0; margin-left: 0">
      <!-- wp:woocommerce/product-results-count {"textColor":"foreground-alt","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground-alt"}}}}} /-->

      <!-- wp:woocommerce/catalog-sorting {"fontSize":"normal","textColor":"heading-color","style":{"elements":{"link":{"color":{"text":"var:preset|color|heading-color"}}},"layout":{"selfStretch":"fit","flexSize":null}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:woocommerce/product-collection {"queryId":2,"query":{"woocommerceAttributes":[],"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceOnSale":false,"woocommerceHandPickedProducts":[],"taxQuery":[],"isProductCollectionBlock":true,"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"featured":false,"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":3,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"className":"saaslauncher-cart-button"} -->
    <div class="wp-block-woocommerce-product-collection saaslauncher-cart-button">
      <!-- wp:woocommerce/product-template {"style":{"spacing":{"blockGap":"32px"},"elements":{"link":{"color":{"text":"var:preset|color|light-color"}}}},"textColor":"light-color"} -->
      <!-- wp:group {"className":"saaslauncher-product-box","style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"layout":{"type":"constrained"}} -->
      <div class="wp-block-group saaslauncher-product-box" style="padding-top: var(--wp--preset--spacing--30); padding-right: var(--wp--preset--spacing--30); padding-bottom: var(--wp--preset--spacing--30); padding-left: var(--wp--preset--spacing--30)">
        <!-- wp:group {"className":"saaslauncher-product-image","style":{"spacing":{"margin":{"bottom":"20px"}}},"layout":{"type":"constrained"}} -->
        <div class="wp-block-group saaslauncher-product-image" style="margin-bottom: 20px">
          <!-- wp:woocommerce/product-image {"saleBadgeAlign":"left","imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"height":"410px","style":{"border":{"radius":"8px"}}} /-->

          <!-- wp:columns {"className":"saaslauncher-product-buttons","style":{"spacing":{"blockGap":{"left":"1px"}}}} -->
          <div class="wp-block-columns saaslauncher-product-buttons">
            <!-- wp:column -->
            <div class="wp-block-column">
              <!-- wp:woocommerce/product-button {"textAlign":"center","width":100,"isDescendentOfQueryLoop":true,"className":"saaslauncher-cart-button","textColor":"light-color","fontSize":"small","style":{"elements":{"link":{"color":{"text":"var:preset|color|light-color"},":hover":{"color":{"text":"var:preset|color|primary"}}}},"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->
            </div>
            <!-- /wp:column -->
          </div>
          <!-- /wp:columns -->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-terms {"term":"product_cat","textAlign":"left","style":{"elements":{"link":{"color":{"text":"var:preset|color|meta-color"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"typography":{"fontStyle":"normal","fontWeight":"500"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"x-small"} /-->

        <!-- wp:post-title {"textAlign":"left","level":4,"isLink":true,"style":{"spacing":{"margin":{"top":"4px","left":"0","right":"0","bottom":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|light-color"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"typography":{"fontSize":"24px"}},"__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->

        <!-- wp:woocommerce/product-rating {"isDescendentOfQueryLoop":true,"textAlign":"left","style":{"spacing":{"margin":{"top":"3px","bottom":"0px","left":"0","right":"0"}}}} /-->

        <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"left","fontSize":"medium","style":{"spacing":{"margin":{"top":"10px","bottom":"0","left":"0","right":"0"}}}} /-->
      </div>
      <!-- /wp:group -->
      <!-- /wp:woocommerce/product-template -->

      <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
      <!-- wp:query-pagination-previous /-->

      <!-- wp:query-pagination-numbers /-->

      <!-- wp:query-pagination-next /-->
      <!-- /wp:query-pagination -->

      <!-- wp:query-no-results -->
      <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
      <p></p>
      <!-- /wp:paragraph -->
      <!-- /wp:query-no-results -->
    </div>
    <!-- /wp:woocommerce/product-collection -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"saaslauncher","className":"saaslauncher-cart-button"} /-->
