<!-- wp:template-part {"slug":"header","theme":"saaslauncher"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-black-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"saaslauncher/banner-with-dashboard"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/logo-showcase"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/services-section"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/featured-content"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/testimonials-grid"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/latest-post-grid"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/faq-accordion"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/cta-block-3"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"saaslauncher","area":"footer"} /-->
